@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: #090C09;
  width: 100%;
  min-height: 100vh;
}

h1 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 74.4px */
}

h2 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 60px */
}

h3 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 41.6px */
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-28 {
  font-size: 28px;
}

.btn {
  cursor: pointer;
  outline: none;

}

.green-btn {
  border: none;
  cursor: pointer;
  display: flex;
  height: 55px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  /* 25.6px */
  border-radius: 41px;
  background: #6EF667;
  box-shadow: 0px 4px 24.4px 0px rgba(110, 246, 103, 0.48);
  text-decoration: none;
}

.section {
  width: 100%;
  padding: 48px 120px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

@media(width<1024px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 28px;
  }

  .section {
    padding: 46px 64px;
  }
}

@media(width<768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  .f-18 {
    font-size: 17px;
  }

  .f-16 {
    font-size: 15px;
  }

  .section {
    padding: 46px 48px;
  }
}

@media(width<580px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  .f-18 {
    font-size: 16px;
  }

  .f-16 {
    font-size: 14px;
  }

  .green-btn {
    display: flex;
    height: 46px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 41px;
    background: #6EF667;
    box-shadow: 0px 4px 24.4px 0px rgba(110, 246, 103, 0.48);
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 22.4px */
  }

  .section {
    padding: 46px 32px;
  }
}

@media(width<420px) {
  .section {
    padding: 46px 16px;
  }
}

@media(width<374px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }
}




@media(width<1024px) {}

@media(width<768px) {}

@media(width<580px) {}

@media(width<420px) {}

@media(width<374px) {}